<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--  <script type="text/javascript"  th:src="@{resources/static/main.js}"></script>-->
    <link th:href="@{/css/base.css}" rel="stylesheet"/>
</head>
<body>
<div>
    <div class="content-div">

        <table id="table-data">
            <!--/*@thymesVar id="result" type="com.spring.rest.client.bean.DealBean"*/-->
            <tr th:each="item: ${result}">
                <td th:text="${item.dealId.asInt}"></td>
                <td th:text="${item.price.asDouble}"></td>
                <td th:text="${item.dealDate}"></td>
                <td th:text="${item.flat.flatId.asInt}"></td>
                <td th:text="${item.flat.flatArea.asDouble}"></td>
                <td th:text="${item.flat.flatRooms.asInt}"></td>
                <td th:text="${item.flat.haveBalcony}"></td>
                <td th:text="${item.flat.flatRegion.regionName}"></td>
            </tr>
        </table>
    </div>
    <div class="button-div">
        <button onclick="">prev</button>
        <button onclick="">next</button>
    </div>
</div>
</body>
</html>