<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script th:src="@{/js/main.js}"></script>
    <link th:href="@{/css/base.css}" rel="stylesheet"/>
</head>
<body>
<div>
    <div>
        <div class="menu-div">
            <ul>
                <li onmouseenter="itemSelected(this);" onmouseleave="itemUnselected(this);" onclick="loadRegions()">Regions</li>
                <li onmouseenter="itemSelected(this);" onmouseleave="itemUnselected(this);" onclick="loadFlats()">Flats</li>
                <li onmouseenter="itemSelected(this);" onmouseleave="itemUnselected(this);" onclick="loadDeals()">Deals</li>
            </ul>
        </div>
    </div>
    <div>
        <div class="content-div">

            <table id="table-data">
                <!--/*@thymesVar id="result" type="com.spring.rest.client.bean.DealBean"*/-->

            </table>
        </div>
        <div class="button-div">
            <button onclick="nextPage(document.parameterNames,
             'http://localhost:8080/html/getDetailedStatisticByInterval',
             0);">prev</button>
            <button onclick="this.innerHTML = document.parameterNames.item(0)">next</button>
        </div>
    </div>

</div>
</body>
</html>